<section class="contacts">
    <div class="container">
        <h2 class="visualy-hidden">Address of the company's offices</h2>
        <div>
            <ul class="card-set">
                <li class="item">
                    <p>CAFE</p>
                </li>

                <li class="address">
                    <address>Chicago <br>
                        <a href="#">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </address>
                </li>

                <li class="item">
                    <p><b>Monday - Friday</b>
                        <time datetime="06:00AM-10:00PM">06:00 AM - 10:00 PM</time>
                    </p>
                    <p><b>Saturday - Sunday</b>
                        <time datetime="08:00AM-16:00PM">08:00 AM - 16:00 PM</time>
                    </p>
                </li>

                <li class="item">
                    <address>
                        <a href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
                </u>
        </div>

        <div>
            <ul class="card-set">
                <li class="item">
                    <p>FOOD TRUCK</p>
                </li>

                <li class="address">
                    <address>Los Angeles<br>
                        <a href="#">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </address>
                </li>

                <li class="item">
                    <p><b>Monday - Friday</b>
                        <time datetime="06:00AM-10:00PM">06:00 AM - 10:00 PM</time>
                    </p>
                    <p><b>Saturday - Sunday</b>
                        <time datetime="08:00AM-16:00PM">08:00 AM - 16:00 PM</time>
                    </p>
                </li>

                <li class="item">
                    <address>
                        <a href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>

        <div>
            <ul class="card-set">
                <li class="item">
                    <p>CAFE</p>
                </li>

                <li class="address">
                    <address>New York<br>
                        <a href="#">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </address>
                </li>

                <li class="item">
                    <p><b>Monday - Friday</b>
                        <time datetime="06:00AM-10:00PM">06:00 AM - 10:00 PM</time>
                    </p>
                    <p><b>Saturday - Sunday</b>
                        <time datetime="08:00AM-16:00PM">08:00 AM - 16:00 PM</time>
                    </p>
                </li>

                <li class="item">
                    <address>
                        <a href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>

        <ul>
            <li>
                <button>Our Locations
                    <svg class="" width="12" height="12">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button>Franchise
                    <svg class="" width="12" height="12">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>