<header class="header">

    <logo>
      <img class="header_img" src="./images/header/logo-mobi.png" alt="логотип морозиво"></logo>
     <nav class="header_nav">
        <ul class="header_set">
            <li class="header_item-link"><a href="./products.html">Home</a></li>
            <li class="header_item-link"><a href="./about.html">How it’s made?</a></li>
            <li class="header_item-link"><a href="./gallery.html">Our products</a></li>
            <li class="header_item-link"><a href="./contacts.html">Contact</a></li>
        </ul>
     </nav>
        <button type="button" class="header_button">Buy now<svg></svg>
        </button>
        
        <button title="button"
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-icon" width="40px" height="40px">
            <use href="./images/icons.svg.svg#menu-mobile"></use>
        </svg>
      </button > 

</header>