<header class="header">

    <logo>
      <img class="header_img" src="./images/header/logo-mobi.png" alt="логотип морозиво"></logo>
     <nav class="header_nav">
        <ul class="header_set">
            <li class="header_item-link"><a href="./partials/products.html">Home</a></li>
            <li class="header_item-link"><a href="./partials/about.html">How it’s made?</a></li>
            <li class="header_item-link"><a href="./partials/gallery.html">Our products</a></li>
            <li class="header_item-link"><a href="./partials/contacts.html">Contact</a></li>
        </ul>
     </nav>
        <button type="button" class="header_button">Buy now<svg></svg>
        </button>
        
        <button title="button"
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu">
        <svg class="menu-icon" width="32px" height="32px">
            <use href="#"></use>
        </svg>
      </button > 

</header>