<header class="header">
    <logo><img class="header_img"></logo>
     <nav class="header_nav">
        <ul class="header_set">
            <li class="header_item-link"><a href="">Home</a></li>
            <li class="header_item-link"><a href="">How it’s made?</a></li>
            <li class="header_item-link"><a href="">Our products</a></li>
            <li class="header_item-link"><a href="">Contact</a></li>
        </ul>
     </nav>
        <button type="button" class="header_button">Buy now<svg></svg>
        </button>
        
        <button title="button"
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-icon" width="40px" height="40px">
            <use href="./images/icons.svg.svg#menu-mobile"></use>
        </svg>
      </button > 

</header>