<section class="reviews">
  <div class="container">
    <div class="slideshow">
      <ul class="slideshow__list">
        <li class="slideshow__item">
          <img src="" alt="" class="slideshow__photo" />
          <p class="slideshow__text"></p>
          <p class="slideshow__name"></p>
        </li>
        <li class="slideshow__item">
          <img src="" alt="" class="slideshow__photo" />
          <p class="slideshow__text"></p>
          <p class="slideshow__name"></p>
        </li>
        <li class="slideshow__item">
          <img src="" alt="" class="slideshow__photo" />
          <p class="slideshow__text"></p>
          <p class="slideshow__name"></p>
        </li>
      </ul>
    </div>
  </div>
</section>
