.slideshow__list{
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;

    .slideshow__item{

        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slideshow__item.current{
        display: flex;
    }
}

.slideshow__photo{
    display: block;
    margin-bottom: 20px;
    border-radius: 50%;
}

.slideshow__text{
    display: block;
    max-width: 270px;

    margin: 0 0 32px 0;

    padding: 35px 39px;

    background: hsla(102, 18%, 55%, 1);
    color: hsla(0, 0%, 99%, 1);
    border-radius: 10px;

    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(31px / 12px);
        text-align: center;
}

@media screen and (min-width:1200px) {
    .slideshow__text{
        max-width: 980px;
    }
    
}

.slideshow__name{
    margin: 0;
    max-width: 189px;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: calc(37px / 20px);
        text-align: center;
    
        color: #131313;
}

/* General styles */
.slideshow {
    width: auto;
    position: relative;
}

.slideshow__hider {
    overflow: hidden;
}



/* Navigation item styles */

div.slideshow__arrow__left,
div.slideshow__arrow__right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
    
}

div.slideshow__arrow__left {
    left: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;

    &:hover {
        opacity: 1.0;
    }
}

div.slideshow__arrow__right {
    right: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;

    &:hover {
        opacity: 1.0;
    }
}


div.slideshow__dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 30;
    text-align: center;
}

span.slideshow__dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}
